<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marakana.android.yamba"
    android:versionCode="1"
    android:versionName="1.0" >

    <permission
        android:name="com.marakana.android.yamba.timeline.PERMISSION_READ"
        android:description="@string/timeline_read_permission_desc"
        android:label="@string/timeline_read_permission_label"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.marakana.android.yamba.timeline.PERMISSION_WRITE"
        android:description="@string/timeline_write_permission_desc"
        android:label="@string/timeline_write_permission_label"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.marakana.android.yamba.timeline.PERMISSION_READ" />
    
    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <application
        android:name="com.marakana.android.yamba.YambaApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.marakana.android.yamba.TimelineActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.marakana.android.yamba.StatusActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.marakana.android.yamba.TimelineDetailActivity"
            android:label="@string/app_name" />
        <activity android:name="com.marakana.android.yamba.YambaPrefs" />

        <service
             android:name="com.marakana.android.yamba.svc.YambaService" />

        <provider
            android:readPermission="com.marakana.android.yamba.timeline.PERMISSION_READ"
            android:writePermission="com.marakana.android.yamba.timeline.PERMISSION_WRITE"
            android:name="com.marakana.android.yamba.data.YambaProvider"
            android:authorities="com.marakana.android.yamba.timeline" />

        <receiver
            android:name=".svc.TimelineReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.marakana.android.yamba.action.NEW_STATUS" />
            </intent-filter>
        </receiver>

        <!--
        <receiver android:name=".svc.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        -->
    </application>

</manifest>